<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <lbd-chart
          [title]="'Users Behavior'"
          [subtitle]="'24 Hours performance'"
          [chartType]="hoursChartType"
          [chartData]="hoursChartData"
          [chartOptions]="hoursChartOptions"
          [chartResponsive]="hoursChartResponsive"
          [legendItems]="hoursChartLegendItems"
          [withHr]="true"
          [footerIconClass]="'fa fa-history'"
          [footerText]="'Updated 3 minutes ago'"
        >
        </lbd-chart>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <div class="header">
          <h4 class="title">Striped Table with Hover</h4>
          <p class="category">Here is a subtitle for this table</p>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of tableData1.dataRows">
                <td *ngFor="let cell of row">{{ cell }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
